.nav-menu{
    display: block;
    position: fixed;
    width: 100px;
    height: 100px;
    top: 15px;
    left: 15px;
    border-radius: 50%;
    z-index: 20;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
}

.home-i {
  width:60%;
  height:60%;
  background-color:dimGray;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:25%;
  z-index:19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550);
    position:absolute;
}
.profile-i {
  width:60%;
  height:60%;
  background-color:dimGray;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:25%;
  z-index:19;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .2s;
}
.contact-i {
  width:60%;
  height:60%;
  background-color:dimGray;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
    top:25%;
  left:25%;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .4s;
}
  .portfolio-i {
  width:60%;
  height:60%;
  background-color:dimGray;
  border-radius:50%;
  position:absolute;
  color:white;
  text-align:center;
  line-height:70px;
  top:25%;
  left:25%;
  transition: all 500ms cubic-bezier(0.680, -0.550, 0.265, 1.550) .6s;
}
.mask2 {
  top:15px;
  left:15px;
  width:100px;
  height:100px;
  background:darkSlateGray;
  border-radius:50%;
  position:absolute;
  z-index:21;
  color:white;
  text-align:center;
  line-height:120px;
  cursor:pointer;
  position:fixed;
}


.nav-color {
    /*background-color:rgba(255,255,255);
    background: rgb(255, 255, 255) transparent;*/
    /* nice browsers */
    /*background: rgba(255, 255, 255, 0.5);*/
   /* background-color: #8B0A50;*/
}

.my_navbar {
    /*position: fixed;
    height: 100%;
    overflow: auto;
    border: 1px solid black;*/
}

.nav-list {
    margin-top: 130px;
}

.nav-item {
    padding-top: 30px;
}

.nav-link {}

 ul li a {
    color:white;
     font-size: 1.5em;
     margin: auto;
}

 ul li a i{
    color:white;
     font-size: 1.5em;
     margin: auto;
     margin-left: 18px;
}
ul li a h5:hover {
    color: black;
    /*background: rgba(255, 255, 255, 0.5);*/
    /*background-color: #C1CDCD;*/
   /* border-bottom: 2px solid black;*/
    text-align: center;
    margin-left: -18px;
}

.logo{
    height: 100px;
    width: 100px;
    position: relative;
    z-index: 10;
    margin-left: -8px;
}


.home{
    margin-left: 20px;
}

.contact {}
.thanksMsg{
    text-align: center;
}
