html, body{
	margin: 0px;
    color: black;
}

.navbar-default{
}


.bg-color{
    background-color:rgba(0, 0, 0, 0.5);
    color: white;
}

.navbar a{
    color: white;
}
#home{
   text-align: center;
   background-image: url(../images/blue.jpg);
   background-repeat: no-repeat;
   background-position: center;
    background-size: cover;
   height: 650px;
   /*padding-top: 100px*/;
    padding: 0px;
    color: white;
    margin: 0px;
}

#home h1{
    padding-top: 150px;
}

#about{
	text-align: center;
    background-color:rgba(0, 0, 0, 0.3);
	padding-top: 50px;
    margin: 0px;
}

#education{
	padding-top: 50px;

}

#education li{

}
#skills{
	padding-top: 50px;
    text-align: center;
}
#interests{
	padding-top: 50px;
}


#portfolio{
	text-align: center;
	padding-top: 50px;
    background-image: url(../images/black-background_00313351.jpg);
    margin: -10px;
}



.clearfix:before, .clearfix:after { content: " "; display: table; }
        .clearfix:after { clear: both; }
        .clearfix { *zoom: 1; }

#contact{
    margin-top: 30px;

}
.social{
    text-align: center;
}
#copy{
   padding: 10px;
}

/*
**Styling for the contact form**
*/
.white-pink{
    margin-left: auto;
    margin-right: auto;
    padding: 30px 30px 20px 30px;
    background: #fff;
    box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
    -webkit-box-shadow: rgba(187, 187, 187, 1) 0 0px 20px -1px;
    color: darkblue;
    -webkit-border-radius: 10px;
}

.white-pink h4{
    padding: 0px 0px 10px 40px;
    display: block;
    border-bottom: 1px solid #f5f5f5;
    margin: -10px -30px 10px -30px;
    color: blue;
}

.white-pink label{
    display: block;
    margin: 0px 0px 5px;
}

.white-pink label>span{
    float: left;
    width: 20%;
    text-align: right;
    padding-right: 10px;
    margin-top: 10px;
}

.white-pink input[type="text"], .white-pink input[type="email"], .white-pink textarea,.white-pink select{
    color: #555;
    width: 70%;
    padding: 3px 0px 3px 5px;
    margin-top: 2px;
    margin-right: 6px;
    margin-bottom: 16px;
    border: 1px solid #e5e5e5;
    background: #fbfbfb;
    height: 25px;
    line-height: 25px;
    outline: 0;
    -webkit-box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
    box-shadow: inset 1px 1px 2px rgba(200,200,200,0.2);
}

.white-pink textarea{
    height: 100px;
    padding: 5px 0px 0px 5px;
}

.white-pink .button{
    -moz-box-shadow: inset 0px 1px 0px 0px #fbafe3;
    -webkit-box-shadow: inset 0px 1px 0px 0px #fbafe3;
    box-shadow: inset 0px 1px 0px 0px #fbafe3;
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ff5bb0), color-stop(1, #ef027d) );
    background:-moz-linear-gradient( center top, #ff5bb0 5%, #ef027d 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bb0', endColorstr='#ef027d');
    background-color:#ff5bb0;
    border-radius: 5px;
    font-size:15px;
    font-weight:bold;
    font-style:normal;
    height: 35px;
    line-height: 30px;
    width:70px;
    text-decoration:none;
    border:1px solid #ee1eb5;
    text-shadow:1px 1px 0px #c70067;
    text-align:center;
    color:#ffffff;
}


/*hover effect on my images*/
.hover-effect{
    padding-right: 20px;
    border-radius: 2px;
    padding-left: 20px;
}
figure{
    overflow: hidden;
    position: relative;
}

figcaption{
    background: rgba(0,0,0,0.8);
    color: white;
    display: table;
    height: 100%;
    left: 0;
    opacity: 0;
    position: absolute;
    z-index: 100;
    top: 0;
    right: 0;
    -webkit-transition: all 300ms;
	-moz-transition: all 300ms;
	transition: all 300ms;
	-webkit-transition-delay: 100ms;
	-moz-transition-delay: 100ms;
	transition-delay: 100ms;

}
figcaption p{
    padding-top: 20px;
    /*display: table-cell;*/
    font-size: 1em;
    /*position: relative;*/
    width: ;
    /*vertical-align: middle;*/
    color: white;
    text-align: center;
}

figcaption a{

    font-size: 0.9em;
    color: white;
    text-decoration: none;
    vertical-align: middle;
}
/*.info:hover{
    opacity: 1;
}*/

.hover-effect:hover figcaption{
    opacity: 1;
}

figcaption a: hover{
    font-size: 0.9em;
    color: blue;
    text-decoration: none;
    vertical-align: middle;
}
#portfolio img{
    height: 100%;
    width: 100%;
    margin: 0px;
    -webkit-transition : all 300ms;
    -moz-transition : all 300ms;
    transition : all 300ms;
    max-width: 100%;
    padding: 5px;
}

#portfolio .hover-effect:hover img{
    -webkit-transition : scale(1.4);
    -moz-transition : scale(1.4);
    transition : scale(1.4);

}
